<div>
  <p>Уважаемый(ая) <strong>$user.lastName $user.firstName $user.middleName </strong></p>
  <p>Вы подавали заявление в ординатуру
    Российского национального исследовательского медицинского университета им. Н.И.Пирогова.</p>
  <p>В соответствии с методическими рекомендациями Минздрава России по учету добровольчекой (волонтерской) деятельности
    Вам необходимо в дополнение к справке о волонтерских часах предоставить положительную характеристику от руководителя
    Вашего волонтерского центра для начисления дополнительных баллов в качестве индивидуального достижения.</p>

  <p>Пожалуйста, воспользуйтесь <a href="https://pklw.rsmu.ru">нашей информационной системой</a> для внесения дополнений
    в Ваше заявление по адресу
    <a href="https://pklw.rsmu.ru">https://pklw.rsmu.ru</a></p>

  <p>С уважением, приемная комиссия РНИМУ им. Н.И.Пирогова<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>