<div>
  <p>Уважаемый(ая) <strong>$user.lastName $user.firstName $user.middleName </strong></p>
  <p>Вы подавали заявление в ординатуру
    Российского национального исследовательского медицинского университета им. Н.И.Пигорова.</p>
  <p>В 2018 году заявления и результаты ВИ учитываются и подтверждаются на портале «Единая информационная система приема в ординатуру»
    Минздрава (ЕИСПО). К сожалению, при передаче данных о Вашем заявлении в систему ЕИСПО возникли проблемы.</p>
    <p>Список поступающих и описание проблем можно посмотреть на <a href="http://rsmu.ru/19179.html">сайте РНИМУ им.Пирогова</a> и на сайте <a href="https://regkvk.rsmu.ru">Онлайн регистрации заявления</a>
      в разделе Документы. </p>
    <h4>Что делать с ошибками:</h4>
  <ul>
    <li>Если в системе обнаружены расхождения в имени, отчестве, фамилии или дате рождения, обратитесь по месту аккредитации для исправления.
        Потом обратитесь в те ВУЗы, куда Вы подавали заявления для проверки правильности Ваших данных.
      Напомните о существовании закона 152-ФЗ от 27.07.2006 "О персональных данных".</li>
    <li>Если Вы обнаружили расхождение типа проведения процедуры вступительных испытаний в другом ВУЗе с тем, что написали в заявлении,
      Вам надо срочно обратиться в эту организацию для приведения данных, предеданных ими в ЕИСПО, в соответствии с Вашим заявлением.</li>
    <li>В остальных случаях обратитесь в нашу приемную комиссию для приведения заявления поданного к нам в соответствие с заявлениями в другие ВУЗы.</li>
    <li>В любом случае Вы можете обратиться к нам за помощью и консультацией.</li>
  </ul>
  <p>Напоминаем, что несоответствие данных заявлений, поданных в разные ВУЗы, является основанием
  для отказа в приеме документов.</p>
  <p>С уважением, приемная комиссия РНИМУ им. Н.И.Пирогова<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>