<div>
  <p>Уважаемый(ая) <strong>$user.lastName $user.firstName $user.middleName </strong></p>
  <p>Вы подавали заявление в ординатуру
    Российского национального исследовательского медицинского университета им. Н.И.Пирогова.</p>
  <p>В соответствии с требованиями Минздрава России все заявления и результаты ВИ учитываются и подтверждаются на портале «Единая информационная система приема в ординатуру»
    Минздрава (ЕИСПО). К сожалению, при передаче данных о Вашем заявлении в систему ЕИСПО возникли проблемы.</p>
  <dl>
    <dt>В заявлении у нас Вы указали</dt><dd>$ourInfo</dd>
    <dt>Описание ошибки следующее:</dt> <dd>"$errorInfo"</dd>
  </dl>

  <h4>Что делать с ошибками:</h4>
  <ul>
    <li>Если Вы обнаружили расхождение типа проведения процедуры вступительных испытаний в другом ВУЗе с тем, что написали в заявлении,
      Вам надо срочно обратиться в эту организацию для приведения данных, предеданных ими в ЕИСПО, в соответствии с Вашим заявлением.</li>
    <li>Если превышено количество ВУЗов для поступления, обратитесь в ВУЗ, из которого Вы забрали или планируете забрать заявление,
      чтобы они произвели отзыв Вашего заявления из ЕИСПО.</li>
    <li>В остальных случаях обратитесь в нашу приемную комиссию для приведения заявления поданного к нам в соответствие с заявлениями в другие ВУЗы.</li>
    <li>В любом случае Вы можете обратиться к нам за помощью и консультацией.</li>
  </ul>

  <p>Список поступающих и описание проблем можно посмотреть
      на <a href="http://rsmu.ru/ordinat2020.html">сайте РНИМУ им.Пирогова</a></p>
  <p>Для внесения изменений в заявление, поданное в наш университет, воспользуйтесь сайтом <a href="https://pklw.rsmu.ru">https://pklw.rsmu.ru</a> </p>

 <p>Напоминаем, что несоответствие данных заявлений, поданных в разные ВУЗы, является основанием
  для отказа в приеме документов.</p>
  <p>С уважением, приемная комиссия РНИМУ им. Н.И.Пирогова<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>