<div>
  <p>Уважаемый(ая) <strong>$user.lastName $user.firstName $user.middleName </strong></p>
  <p>Вы подавали заявление в ординатуру
    Российского национального исследовательского медицинского университета им. Н.И.Пирогова.</p>
  <p>В соответствии с требованиями Минздрава России все заявления и результаты ВИ учитываются и подтверждаются на портале «Единая информационная система приема в ординатуру»
    Минздрава (ЕИСПО). К сожалению, при передаче данных о Вашем заявлении в систему ЕИСПО возникли проблемы.</p>
  <dl>
    <dt>В заявлении у нас Вы указали</dt><dd>$ourInfo</dd>
    <dt>Описание ошибки следующее:</dt> <dd>"$errorInfo"</dd>
  </dl>
  <h4>Что делать с ошибками:</h4>
  <p>Данная ошибка может быть связана с тем, что при вводе Ваших данных была допущена ошибка либо в центре аккредитации, либо в другом ВУЗе</p>
  <p> Прежде всего обратитесь по месту аккредитации для проверки и исправления Ваших данных.
  <p>Потом обратитесь в те ВУЗы, в которые Вы также подавали заявления, для проверки правильности Ваших данных.</p>
  <p>В любом случае Вы можете обратиться к нам за помощью и консультацией.</p>

  #*
  <p>Если в ближайшее время после этого ошибка сохранится, советуем обратиться
    <a href="https://www.rosminzdrav.ru/reception/appeals/new">в электроную приемную Минздрава</a>  со следующей жалобой:
    <br/><br/></p>
    <hr/>
  <p>Я, $user.lastName $user.firstName $user.middleName, дата рождения $df.format( 'dd.MM.yyyy', $user.birthDate),
    СНИЛС $user.snilsNumber, абитуриент в ординатуру РНИМУ им. Н.И. Пирогова.</p>
  <p>При подаче документов мною была удостоверена правильность записи моих персональных данных в заявлении.
    При передаче данных моего заявления в Единую Информационную Систему Поступления в Ординатуру (ЕИСПО)
    Министерства здравоохранения  возникла ошибка: «$user.requests[0].response.response».</p>
  <p>В связи с данной ошибкой мое заявление может быть отклонено приемной комиссией, что не соответствует Порядку приема в ординатуру,
    утвержденного приказом Минздрава №212н от 11.05.2017 с изменениями, внесенными приказом №170н от 17.04.2018.</p>
  <p>Мною были выполнены требования п. 14 Порядка приема в ординатуру по количеству организаций и специальностей для подачи заявлений, по порядку учета
    результатов вступительных испытаний, а также был подан полный комплект документов, соответствующий требованиям,
    установленным Порядком приема, о чем мне сообщила приемная комиссия РНИМУ им. Н.И. Пирогова. Следовательно,
    согласно п. 28 Порядка приема мое заявление не должно быть отклонено.</p>
  <p>На основании п.17 закона 152-ФЗ "О персональных данных" и п. 14 Порядка приема в ординатуру</p>
  <p>ПРОШУ</p>
  <p>1. В кратчайшие сроки исправить ошибки в моих персональных данных во всех базах, подотчетных Министерству здравоохранения.</p>
  <p>2. Привести систему ЕИСПО в соответствие с Порядком приема в ординатуру.</p>
    <hr/>
*#

  <p>Список поступающих и описание проблем можно посмотреть
    на <a href="http://rsmu.ru/ordinat2020.html">сайте РНИМУ им.Пирогова</a></p>

  <p>С уважением, приемная комиссия РНИМУ им. Н.И.Пирогова<br/>
    <a href="mailto:prk@rsmu.ru">prk@rsmu.ru</a> </p>
</div>